data/credits.csv
data/keywords.csv
data/movies_metadata.csv
data/ratings.csv
__pycache__/data.cpython-312.pyc
__pycache__/log_training.cpython-312.pyc
__pycache__/logging.cpython-312.pyc
__pycache__/model.cpython-312.pyc
